<div id="header">
  <div class="header_wrap">
    <h1 class="logo"><a href="/"></a></h1>
    <nav class="gnb_wrap">
      <ul class="gnb">
        <li>
          <a href="">
          <span>서문시장야시장</span>
        </a>
        </li>
        <li>
          <a href="">
            <span>먹거리</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>볼거리</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>커뮤니티</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="hamburgur">
      <a href="">
        <div class="top_bun"></div>
        <div class="meat"></div>
        <div class="bottom_bun"></div>
      </a>
    </div>
  </div>
</div>