<div id="header">
  <div class="header_wrap">
    <h1 class="logo"><a href="/"></a></h1>
    <nav class="gnb_wrap">
      <ul class="gnb">
        <li class="gnb_menu">
          <a href="">
            <span>서문시장야시장</span>
            <span class="star"></span>
          </a>
          <ul class="lnb">
            <li><a href="">야시장소개</a></li>
            <li><a href="">매대위치</a></li>
          </ul>
        </li>
        <li class="gnb_menu">
          <a href="">
            <span>먹거리</span>
            <span class="star"></span>
          </a>
          <ul class="lnb">
            <li><a href="">퓨전</a></li>
            <li><a href="">한국전통식</a></li>
            <li><a href="">스트리트푸드</a></li>
            <li><a href="">살거리</a></li>
          </ul>
        </li>
        <li class="gnb_menu">
          <a href="">
            <span>볼거리</span>
            <span class="star"></span>
          </a>
          <ul class="lnb">
            <li><a href="">거리예술학교</a></li>
            <li><a href="">행사이벤트</a></li>
            <li><a href="">주요관광지</a></li>
          </ul>
        </li>
        <li class="gnb_menu">
          <a href="">
            <span>커뮤니티</span>
            <span class="star"></span>
          </a>
          <ul class="lnb">
            <li><a href="/noticeMain">공지사항</a></li>
            <li><a href="">행사안내</a></li>
            <li><a href="">현장스케치</a></li>
            <li><a href="">문의 및 제안</a></li>
            <li><a href="">입점상담</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <ul class="conv_menu">
      <li><a href="">로그인</a></li>
      <li><a href="">회원가입</a></li>
      <div class="hamburgur">
        <a href="">
          <div class="top_bun"></div>
          <div class="meat"></div>
          <div class="bottom_bun"></div>
        </a>
      </div>
    </ul>
    <div class="lnb_bg"></div>
  </div>
</div>