<title>서문시장 로그인</title>
<div class="sub_visual">
  <div class="main_slider">
    <div class="subVisual_layout">
      <div class="layout_txt">
        <div class="moon"></div>
        <div class="sec1_title">서문시장</div>
      </div>
    </div>
  </div>
</div>
<section class="sub_section">
  <div class="section_inner">
    <div class="section_con">
      <div class="section_title">
        <h2>로그인</h2>
      </div>
      <div class="login_con">
        <form class="login_form" method="post" action="/logininfo">
          <div class="login_inputWrap">
            <input type="text" name="login_id" id="login_id" placeholder="아이디">
            <input type="password" name="login_pw" id="login_pw" placeholder="비밀번호">
          </div>
          <input class="login_btn" type="submit" value="로그인">
          <a class="toJoin" href="/join"><span>아직 회원이 아니신가요?</span></a>
        </form>
      </div>
    </div>
  </div>
</section>