<title>메인페이지</title>
<section class="main_visual">
  <div class="mv_inner">
    <div class="mv_text">
      <div class="moon"></div>
      <div class="mv_title"></div>
      <div class="right_txt">
        <strong>오감만족! 육감충족!</strong>
        <p>
          서문시장 야시장과 함께하는
          <br>夜한 대구여행
        </p>
        <div class="openTime">
          <p>일 월 수 목 : 19:00 ~ 22:30</p>
          <p>금 토 : 19:00 ~ 23:30</p>
        </div>
      </div>
    </div>
    <div class="notice_slide swiper mySwiper1">
      <div class="swiper-wrapper slide_wrap">
        <div class="swiper-slide">
          <span class="notice_content">서문야시장 임시 휴장안내</span>
          <span class="notice_date">2022.08.31</span>
        </div>
        <div class="swiper-slide">
          <span class="notice_content">서문야시장 임시 휴장안내</span>
          <span class="notice_date">2022.08.31</span>
        </div>
        <div class="swiper-slide">
          <span class="notice_content">서문야시장 임시 휴장안내</span>
          <span class="notice_date">2022.08.31</span>
        </div>
      </div>
      <strong class="noticeTitle">공지사항</strong>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"><span class="btn_icon"></span></div>
      <div class="swiper-button-prev"><span class="btn_icon"></span></div>
    </div>
  </div>
</section>