<title>서문시장 공지사항</title>
<div class="sub_visual">
  <div class="main_slider">
    <div class="subVisual_layout">
      <div class="layout_txt">
        <div class="moon"></div>
        <div class="sec1_title">서문시장</div>
      </div>
      <div class="layout_location">
        <div class="location_wrap">
          <a href="/" class="location_home">
            <span class="home_icon"></span>
          </a>
          <a href="/noticeMain">커뮤니티</a>
          <a href="/noticeMain">공지사항</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="sub_section">
  <div class="section_inner">
    <div class="section_con">
      <div class="section_title">
        <h2>공지사항</h2>
      </div>
      <div class="notice_con">
        <form action="" method="post" id="boardFind">
          <div class="boardFind_inner">
            <fieldset class="board_find">
              <select name="" id="">
                <option value="">제목</option>
                <option value="">내용</option>
                <option value="">작성자</option>
              </select>
              <input type="text">
              <input type="submit">
            </fieldset>
          </div>
        </form>
        <div class="board_list">
          <table>
            <thead>
              <tr>
                <th scope="col" class="num" style="width:10%">번호</th>
                <th scope="col" class="title" style="width:35%">제목</th>
                <th scope="col" style="width:14%">작성자</th>
                <th scope="col" class="date" style="width:14%">작성일</th>
                <th scope="col" class="view_cnt" style="width:10%">조회수</th>
                <th scope="col" class="file" style="width:7%">파일</th>
                <th scope="col" class="file" style="width:5%">수정</th>
                <th scope="col" class="file" style="width:5%">삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td><a href="/noticeRead">제목</a></td>
                <td>작성자</td>
                <td>작성일</td>
                <td>0</td>
                <td>파일</td>
                
              </tr>
            </tbody>
          </table>
        </div>
        <div class="board_btnWrap">
          <input type="button" class="write_btn" value="글쓰기" onclick="javascript:location.href='/noticeWrite'">
          <a href="/noticeMain" class="list_btn">목록</a>
          <a href="" class="rss_btn">RSS</a>
        </div>
        <div class="page_nav">
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
</section>