#main {
  background-color: #0f171d;
  background-image: url(../img/all_bg.png);
}

.main_visual {
  position: relative;
  height: 1100px;
  padding: 0 0 60px;
  box-sizing: border-box;
}

.mv_inner {
  padding-top: 130px;
  width: 100%;
  height: 970px;
  background-image: url(../img/main_bg1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1920px 800px;
}

.mv_text {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.moon {
  background-image: url(../img/moon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 116px;
  height: 116px;
  margin: 0 auto;
}

.mv_title {
  background-image: url(../img/main_title.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 186px;
  height: 237px;
  margin: 0 auto;
}

.right_txt {
  text-align: left;
  position: absolute;
  top: 115px;
  right: calc(50% - 350px);
}

.right_txt > strong {
  font-family: "PyeongChang";
  font-size: 24px;
}

.right_txt > p {
  font-family: "PyeongChang";
  margin: 20px 0 80px;
}

.openTime > p {
  font-size: 18px;
  font-family: "PyeongChang";
}

.notice_slide {
  width: 100%;
  height: 60px;
  background-color: #c7b0c2;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 72px;
  box-sizing: border-box;
  z-index: 5;
}

.notice_slide.fix {
  position: fixed;
}

.slide_wrap {
  width: 100%;
  max-width: 600px;
  /* padding-left: 143px; */
  /* padding-right: 108px; */
  margin: 0 auto;
  line-height: 60px;
  color: #000;
  position: absolute;
  top: 0;
  left: 27%;
}

.slide_wrap .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mySwiper1 .swiper-slide a {
  display: block;
  color: #000;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice_content {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.notice_date {
}

.noticeTitle > a {
  color: #000;
  font-size: 25px;
  font-family: "PyeongChangPeace-Bold";
  line-height: 60px;
  margin-left: 15%;
}

.notice_slide > .swiper-pagination {
  width: 33px;
  display: flex;
  justify-content: space-between;
  left: auto;
  right: 20%;
  --swiper-theme-color: #000;
}

.swiper-button-next,
.swiper-button-prev {
  width: 10%;
  max-width: 250px;
  height: 60px;
  border: transparent;
  margin-top: -30px;
  position: absolute;
  bottom: 0;
  color: inherit;
}

.swiper-button-next {
  right: 50px;
}

.swiper-button-prev {
  left: 50px;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  display: block;
  content: "";
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.btn_icon {
  background: url(../img/button.png) no-repeat center center;
  background-size: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
}

.swiper-button-next .btn_icon {
  right: -30px;
}

.swiper-button-prev .btn_icon {
  left: -30px;
}

.section1 {
  background-position: center top;
  padding: 200px 30px 350px;
  box-sizing: border-box;
}

.section1:before {
  content: "";
  display: block;
  width: 100%;
  height: 600px;
  background-image: url(../img/main_bg2.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 1920px 800px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
}

.sec1_title {
  font-size: 64px;
  font-family: "PyeongChangPeace-Bold";
}

.sec1_txt {
  font-size: 20px;
}

.sec1_txt > strong {
  margin-bottom: 3px;
}

.youtube_wrap {
  width: 100%;
  max-width: 1025px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.youtube_inner {
  width: 100%;
  height: 730px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 35px rgb(0 0 0 / 30%);
  position: relative;
  margin-top: 80px;
}

.section2 {
  text-align: center;
  padding-bottom: 250px;
  position: relative;
}

.mv_text > strong {
  font-size: 50px;
}

.mv_text > p {
  font-size: 18px;
}

.mySwiper2 {
  padding-top: 150px;
  height: auto;
}

.mySwiper2 .swiper-slide {
}

.mySwiper2 .swiper-slide .slide_background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
  position: relative;
  width: 100%;
  height: 600px;
}

.mySwiper2 .swiper-slide .slide_background::before {
  display: block;
  content: "";
  width: 74px;
  height: 74px;
  background-image: url(../img/slide_imgbefore.png);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 60%;
  top: 10%;
  /* z-index: 1; */
}

.mySwiper2 .swiper-slide .slide_background::after {
  display: block;
  content: "";
  width: 230px;
  height: 229px;
  background-image: url(../img/slide_imgafter.png);
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 55%;
  top: 15%;
  z-index: -1;
  /* z-index: 1; */
}

.slide_background1 {
  background-image: url(../img/swiper_img1.png);
}

.slide_background2 {
  background-image: url(../img/swiper_img2.png);
}

.slide_background3 {
  background-image: url(../img/swiper_img3.png);
}

.slide_background4 {
  background-image: url(../img/swiper_img4.png);
}

.slide_title {
  font-size: 100px;
  font-family: "PyeongChangPeace-Bold";
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.slide_subTitle {
  font-size: 40px;
  font-family: "PyeongChang";
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.slide_info > ul {
  padding: 36px 15% 0 18%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.slide_info > ul > li {
  width: 50%;
  margin-bottom: 40px;
}

.slide_info > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 22px;
  position: relative;
}

.slide_info > ul > li > a:hover {
  color: #c7b0c2;
}

.slide_info > ul > li > a::before {
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  background: url(../img/star.png);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mySwiper2 > .swiper-button-next2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/button_w.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}

.mySwiper2 > .swiper-button-prev2 {
  width: 50px;
  height: 50px;
  background-image: url(../img/button_w.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}

.section3 {
  padding-bottom: 100px;
}

.section3_inner {
  width: 100%;
}

.section3_inner .mv_text {
  max-width: 100%;
}

.img_slide {
  width: 100%;
  margin-top: 100px;
}

.img_slide .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.img_slide .swiper-slide {
  text-align: center;
  font-size: 33px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.img_slide .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.img_slide .swiper-slide img {
  display: inline-block;
  width: 358px;
  height: 287px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.section4 {
  padding-bottom: 200px;
}

.section4_inner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.sec4_title {
  width: 900px;
  height: 300px;
  background-image: url(../img/logo2.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0 auto;
}

.menu_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu_list > li {
  width: calc(100% / 6 - 23px);
}

.menu_list > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.11);
  position: relative;
  height: 176px;
  border-radius: 10px;
  text-align: left;
  padding: 22px 26px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.menu_list > li > a:hover {
  border: 2px solid #c7b0c2;
}

.menu_txt {
  font-size: 26px;
  color: #fff;
}

.menu_icon {
  display: inline-block;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  position: absolute;
  right: 21px;
  bottom: 19px;
}

.icon1 {
  background-image: url(../img/menu_icon1.png);
}

.icon2,
.icon3 {
  background-image: url(../img/menu_icon23.png);
}

.icon4 {
  background-image: url(../img/menu_icon4.png);
}

.icon5 {
  background-image: url(../img/menu_icon5.png);
}

.icon6 {
  background-image: url(../img/menu_icon6.png);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 3;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translateY(80px);
  }
}

.fadeIn05 {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
}

.fadeIn06 {
  animation: fadeIn 0.6s ease-in-out;
  opacity: 1;
}

.fadeIn07 {
  animation: fadeIn 0.7s ease-in-out;
  opacity: 1;
}

.fadeOut05 {
  animation: fadeOut 0.5s ease-in-out;
  opacity: 0;
}

.fadeOut06 {
  animation: fadeOut 0.6s ease-in-out;
  opacity: 0;
}

.fadeOut07 {
  animation: fadeOut 0.7s ease-in-out;
  opacity: 0;
}

/* 반응형 1280px */
@media (max-width: 1280px) {
  .slide_info > ul {
    padding: 36px 14% 0 17%;
  }
}

/* 반응형 1280px */

/* 반응형 1199px */
@media (max-width: 1199px) {
  .slide_wrap {
    width: 40%;
  }

  .menu_list > li > a {
    padding: 20px;
  }

  .menu_txt {
    font-size: 20px;
  }
}

/* 반응형 1199px */

/* 반응형 1024px */
@media (max-width: 1024px) {
  .main_visual {
    height: 900px;
  }

  .mv_inner {
    background-size: 1024px 600px;
    height: 770px;
  }

  .mv_title {
    width: 142px;
    height: 183px;
    top: -4px;
  }

  .right_txt {
    right: calc(50% - 280px);
    top: 113px;
  }

  .right_txt > strong {
    font-size: 18px;
  }

  .right_txt > p {
    font-size: 14px;
    margin: 12px 0 56px;
  }

  .openTime > p {
    font-size: 15px;
  }

  .section1 {
    background-position: center top;
    padding: 200px 30px 200px;
  }

  .section1:before {
    background-size: 1024px 600px;
    height: 440px;
  }

  .youtube_inner {
    height: 522px;
    margin-top: 78px;
  }

  .slide_title {
    width: 100%;
    font-size: 80px;
  }

  .slide_subTitle {
    font-size: 32px;
  }

  .section2 {
    padding-bottom: 100px;
  }

  .mySwiper2 .swiper-slide .slide_background {
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    padding-top: 61.5384%;
    box-sizing: border-box;
  }

  .mySwiper2 .swiper-slide .slide_background::before {
    display: none;
  }

  .mySwiper2 .swiper-slide .slide_background::after {
    display: none;
  }

  .slide_info > ul {
    padding: 36px 11% 0 12%;
  }

  .mySwiper2 > .swiper-button-next2,
  .mySwiper2 > .swiper-button-prev2 {
    top: 40%;
  }

  .sec4_title {
    width: 100%;
    background-size: 100%;
  }

  .menu_icon {
    width: 31px;
    height: 31px;
  }
}

/* 반응형 1024px */

/* 반응형 950px */
@media (max-width: 950px) {
  .slide_info > ul > li > a {
    font-size: 18px;
  }

  .menu_list {
    flex-wrap: wrap;
  }

  .menu_list > li {
    width: calc(100% / 3 - 34px);
    margin: 17px;
  }

  .menu_txt {
    font-size: 28px;
  }

  .menu_icon {
    width: 53px;
    height: 53px;
  }

  .img_slide .swiper-slide img {
    width: 300px;
    height: 250px;
  }
}

/* 반응형 899px */
@media (max-width: 899px) {
  .noticeTitle > a {
    margin-left: 0;
  }

  .slide_wrap {
    width: 50%;
  }

  .notice_slide > .swiper-pagination {
    right: 30px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* 반응형 899px */

/* 반응형 768px */
@media (max-width: 768px) {
  .youtube_inner {
    max-width: 626px;
    height: 446px;
    margin: 41px auto 0;
  }

  .sec4_title {
    height: 250px;
  }

  .slide_title {
    font-size: 70px;
  }

  .slide_subTitle {
    font-size: 20px;
  }

  .slide_info > ul {
    padding: 36px 4% 0 4%;
  }

  .slide_info > ul > li > a {
    padding-left: 18px;
  }
}

/* 반응형 768px */

/* 반응형 710px */
@media (max-width: 710px) {
  .right_txt {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
  }

  .right_txt > strong {
    display: none;
  }

  .right_txt > p {
    display: none;
  }

  .openTime {
    margin-top: 10px;
  }

  .notice_slide {
    padding: 0 30px;
  }

  .youtube_inner {
    height: 330px;
  }

  .slide_info > ul > li > a {
    font-size: 16px;
  }

  .img_slide .swiper-slide img {
    width: 200px;
    height: 170px;
  }

  .menu_list > li > a {
    height: 160px;
  }

  .menu_txt {
    font-size: 20px;
  }

  .menu_icon {
    width: 31px;
    height: 31px;
  }
}

/* 반응형 710px */

/* 반응형 580px */
@media (max-width: 580px) {
  .section3 {
    padding-bottom: 60px;
  }
  .slide_info > ul {
    display: block;
  }

  .slide_info > ul > li {
    width: 100%;
    margin-bottom: 10px;
  }

  .slide_info > ul > li > a {
    font-size: 17px;
  }
}

/* 반응형 580px */

/* 반응형 540px */
@media (max-width: 540px) {
  .slide_title {
    font-size: 50px;
  }

  .slide_subTitle {
    font-size: 15px;
  }

  /* .mySwiper2>.swiper-button-next2,
  .mySwiper2>.swiper-button-prev2 {
    top: 30%;
  } */
}

/* 반응형 540px */

/* 반응형 480px */
@media (max-width: 480px) {
  .notice_slide {
    padding: 0 15px;
  }

  .noticeTitle > a {
    font-size: 18px;
  }

  .slide_wrap {
    width: 40%;
  }

  .notice_content {
    width: 100%;
  }

  .notice_date {
    display: none;
  }

  .notice_slide > .swiper-pagination {
    right: 15px;
  }

  .section1 {
    padding: 60px 15px 160px;
  }

  .sec1_title {
    font-size: 40px;
  }

  .sec1_txt {
    font-size: 15px;
  }

  .youtube_inner {
    height: 233px;
    margin-top: 23px;
  }

  .mv_text > strong {
    font-size: 23px;
  }

  .mv_text > p {
    font-size: 15px;
    margin-top: 8px;
  }

  .img_slide .swiper-slide img {
    width: 100px;
    height: 80px;
  }

  .sec4_title {
    height: 200px;
  }

  .slide_info > ul > li > a {
    font-size: 14px;
  }

  .menu_list > li {
    width: calc(50% - 10px);
    margin: 10px 0;
  }

  .menu_list > li > a {
    height: 100px;
    font-size: 15px;
  }

  .menu_txt {
    font-size: 15px;
  }

  .menu_icon {
    width: 22px;
    height: 22px;
    right: 9px;
    bottom: 9px;
  }
}

/* 반응형 480px */
