#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  z-index: 9995;
}

.header_wrap {
  width: 100%;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h1.logo {
  width: 300px;
  height: 100%;
}

h1.logo>a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.gnb_wrap {
  width: 700px;
  height: 100%;
}

.gnb {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.gnb_menu {
  height: 100%;
  flex: 1;
  position: relative;
}

.gnb_menu>a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.gnb_menu>a:hover {
  color: #C7B0C2;
}

.gnb_menu .star {
  display: none;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  bottom: 22px;
  transform: translateX(-50%);
  background-image: url(../../img/header_hover.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.conv_menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.conv_menu>li {
  color: #fff;
  font-size: 14px;
  padding: 7px 10px 5px;
  line-height: 1;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 30px;
  max-height: 30px;
  flex-shrink: 0;
}

.hamburgur {}

.hamburgur>a {
  display: flex;
  flex-direction: column;
}

.hamburgur>a>div {
  display: inline-block;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
  width: 21px;
}

.hamburgur>a>.bottom_bun {
  margin-bottom: 0;
}



.lnb {
  width: auto;
  height: 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -130px;
  left: 0;
  opacity: 0;
}

.gnb_menu:nth-child(2) .lnb {
  left: -50%;
}

.gnb_menu:nth-child(3) .lnb {
  left: -100%;
}

.gnb_menu:nth-child(4) .lnb {
  left: -180%;
}

.lnb>li {
  padding: 40px;
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.lnb>li>a {
  display: block;
  width: 100%;
  font-size: 14px;
}

.lnb>li>a:hover {
  color: #C7B0C2;
}

.lnb_bg {
  width: 100%;
  height: 200px;
  background-color: #000;
  position: absolute;
  top: 131px;
  left: 0;
  opacity: 0;
  z-index: -1;
}

/*** 1280px ***/
@media (max-width: 1280px) {
  .gnb_wrap {
    display: none;
  }
}

/*** 1280px ***/